body {
   font-family: Arial, sans-serif;
   background-color: #ffebdd;
}

.fixed-image {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000; /* Mantém a imagem acima de outros elementos */
}

.container {
   background-color: white;
}

.shadow-sm {
   border: solid #00000024 1px !important;
   box-shadow: 4px 5px 5px rgba(0, 0, 0, .075) !important;
}

.header {
   background-color: #ff6b07 !important;
}

h1, h2 {
   font-weight: bold;
}

p, li {
   font-size: 1rem;
}

footer {
   background-color: white;
   font-size: 0.8rem;
}

.title {
   color: white !important;
   font-weight: bold;
   background-color: #ff9907 !important;
}

a {
   color: #212529 !important;
   text-decoration: none !important;
}

.btn-primary {
   color: #fff !important;
   /* background-color: #e21313 !important;
   border-color: #e21313 !important; */
}

.btn-danger {
   width: 100%;
   color: white !important;
   font-weight: bold !important;
}

.idade {
   font-weight: bold;
   font-style: italic;
   text-decoration: underline;
   color: #dc3545 !important;
}

.text-red {
   color: #721c24;
   font-weight: bold !important;
}

.card-title {
   color: #721c24;
   font-weight: bold !important;
}

.text-small {
   p, li {
      font-size: small
   }
}

.cover-image {
   background-image: url('./assets/capa.jpg');
   height: 300px; /* Ajuste a altura conforme necessário */
   background-size: cover;
   background-position: center;
   max-width: 100%;
}

/* Para telas menores, o conteúdo dentro do .line-break ficará em uma nova linha */
@media (max-width: 1199px) {
   .text-crianca {
      margin-bottom: 1rem;
   }
}

/* Para telas maiores, o conteúdo dentro do .line-break ficará na mesma linha */
@media (min-width: 1200px) {
   .text-crianca {
      margin-bottom: 40px;
   }
}